{% extends 'personal_account/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="box-wrapper" id="article-wrapper">
            <div class="box box-border" id="article-body">
                <div class="box-body" >
                    <h4>Напишите статью</h4>
                    <form action="{% url 'personal_account:create_article'%}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.media }}
                        {{ form.as_p }}
                        <button class="btn btn-primary" type="submit">Опубликовать</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
