{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
<body>
<section class="search">
    <div class="container">
        <div class="row">
            <div class="col-md-9">

                <div class="search-result">
                    Search results for keyword "hello" found in 5,200 posts.
                </div>
                <div class="row">
                    {% for object in object_list %}
                    {% if object.is_active %}
                    <article class="col-md-12 article-list">
                        <div class="inner ">
                            <figure>
                                <img src="/media/{{ object.image }}">
                            </figure>
                            <div class="details ">
                                <div class="detail">
                                    <div class="category">
                                        <a href="#">{{ object.tag }}</a>
                                    </div>
                                    <time>{{ object.created_at }}</time>
                                </div>
                                <h1><a href="{% url 'mainapp:article' object.pk %}">{{ object.title }}</a>
                                </h1>
                                </h1>
                                <p>
                                    {{ object.short_desc }}
                                </p>
                                <footer>
                                    <a href="#" class="love"><i class="ion-android-favorite-outline"></i>
                                        <div>783</div>
                                    </a>
                                    <ul>
                                        <a class="btn btn-primary more"
                                           href="{% url 'personal_account:edit_article' object.pk %}">
                                            <div>Изменить</div>
                                            <div><i class="ion-ios-arrow-thin-right"></i></div>
                                        </a>
                                    </ul>
                                    <ul>
                                        <a class="btn btn-primary more"
                                           href="{% url 'personal_account:delete_article' object.pk %}">
                                            <div>Удалить</div>
                                            <div><i class="ion-ios-arrow-thin-right"></i></div>
                                        </a>
                                    </ul>
                                </footer>
                            </div>
                        </div>
                    </article>
                    {% else %}
                    <ul>
                        <article class="col-md-12 article-list">
                            <div class="inner ">
                                <a class="btn btn-primary more"
                                   href="{% url 'personal_account:delete_article' object.pk %}">
                                    <div>Восстановить</div>
                                    <div><i class="ion-ios-arrow-thin-right"></i></div>
                                </a>
                        </article>
                </div>
                </ul>
                {% endif %}
                {% endfor %}

                <div class="col-md-12 text-center">
                    <ul class="pagination">
                        <li class="prev"><a href="#"><i class="ion-ios-arrow-left"></i></a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">...</a></li>
                        <li><a href="#">97</a></li>
                        <li class="next"><a href="#"><i class="ion-ios-arrow-right"></i></a></li>
                    </ul>
                    <div class="pagination-help-text">
                        Showing 8 results of 776 &mdash; Page 1
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

{% endblock %}