{% extends 'personal_account/base.html' %}

{% block content %}
    <div class="container">
        <div class="box-wrapper">
            <div class="box box-border">
                <div class="box-body">
                    {% if object.is_active %}
                        <p class="delete_submission"> Уверены,что хотите удалить статью {{ object.title }}?</p>
                    {% else %}
                        Восстановить статью?
                    {% endif %}

                    <form method="post">
                        {% csrf_token %}
                        <tr>
                            <td><input type="submit" class="btn badge-danger" value="ДА" name="delete"></td>
                            <td><a href="{% url 'personal_account:list_article' %}" class="btn btn-success">НЕТ</a></td>
                        </tr>
                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock %}