{% extends 'personal_account/base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="box-wrapper">
        <div class="box box-border">
            <div class="box-body">
                <h3 class="name">Вы{% if blocked_user.is_active == True %} разблокировали {% else %} заблокировали {% endif %}{{ blocked_user.username }}</h3>
                <a href="{% url 'mainapp:index' %}">
                    <button class="btn btn-primary" type="submit"> На главную</button>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}