{% extends 'personal_account/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="box-wrapper">
            <div class="box box-border">
                <div class="box-body">
                    <h4>Login</h4>
                    <form action="{% url 'personal_account:login' %}" method="post">
                        {% csrf_token %}
                        {{ login_form.as_p }}
                        {% if next_param %}
                            <input type="hidden" name="next" value="{{ next_param }}">
                        {% endif %}
                        <button class="btn btn-primary btn-block" type="submit">Войти</button>
                        <div class="form-group text-center">
                            <span class="text-muted">У вас нет аккаунта?</span> <a
                                href="{% url 'personal_account:register' %}">Регистрация</a>
                        </div>
                        <div class="form-group text-center">
                            <a href="{% url 'social:begin' 'vk-oauth2' %}">Авторизоваться через VK</a>

                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
{% endblock %}
