{% extends 'personal_account/base.html' %}
{% load static %}

{% block content %}
        <div class="container">
            <div class="box-wrapper">
                <div class="box box-border">
                    <div class="box-body">
                        <h4>Login</h4>
                        <form action="{% url 'personal_account:login' %}" method="post">
                            {% csrf_token %}
                            {{ login_form.as_p }}
                            {% if next_param %}
                                <input type="hidden" name="next" value="{{ next_param }}">
                            {% endif %}
                            <button class="btn btn-primary" type="submit">Войти</button>
                            <ul>
                                <a href="{% url 'personal_account:register' %}">Регистрация</a>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
