{% extends 'personal_account/base.html' %}
{% load static %}
{% load has_group %}

{% block content %}

    <div class="container">
        <div class="box-wrapper">
            <div class="box box-border">
                <div class="box-body">
                    {{ current_user.groups.all.0 }} {{ current_user.username }}
                    <br>
                    <img src="/media/{{ current_user.foto }}" width="300px" height="300px">
                    <p>{{ current_user.first_name }}</p>
                    <p>{{ current_user.last_name }}</p>
                    <p>{{ current_user.email }}</p>
                    {% if user|has_group:'admins' %}
                        {% if user|has_group:'admins' %}
                        <a href="{% url 'personal_account:edit' current_user.pk %}" class="btn btn-primary">Изменить данные
                            профиля</a>
                            {% endif %}
                        {% if current_user|has_group:'moderators' or not user|has_group:'admins' %}
                            <a href="{% url 'personal_account:delete_permissions' current_user.pk %}">
                                <button class="btn btn-primary" type="submit">разжаловать</button>
                            </a>
                        {% else %}
                            <a href="{% url 'personal_account:create_permissions' current_user.pk %}">
                                <button class="btn btn-primary" type="submit" style="margin-top: 10px"> Назначить модератором</button>
                            </a>
                        {% endif %}
                    {% endif %}
                    {% if user|has_group:'admins' %}
                        <a href="{% url 'personal_account:delete_user' current_user.pk %}">
                            <button class="btn btn-primary" type="submit" style="margin-top: 10px">Удалить
                                пользователя
                            </button>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}