{% extends 'personal_account/base.html' %}
{% load static %}

{% block content %}

    <div class="container">
        <div class="box-wrapper">
            <div class="box box-border">
                <div class="box-body">
                    <h4>Пользователь {{ current_user.username }}</h4>
                    <img src="/media/{{ current_user.foto }}" width="300px" height="300px">
                    <p>{{ current_user.first_name }}</p>
                    <p>{{ current_user.last_name }}</p>
                    <p>{{ current_user.email }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}