{% extends 'personal_account/base.html' %}
{% load static %}

{% block content %}

    <div class="container">
        <div class="box-wrapper">
            <div class="box box-border">
                <div class="box-body">
                    <h4>Ваши данные</h4>
                    <h5>{{ user.username }}</h5>
                    <img src="/media/{{ user.foto }}" width="300px" height="300px">
                    <p>Имя: {{ user.first_name }}</p>
                    <p>Фамилия: {{ user.last_name }}</p>
                    <p>Почта: {{ user.email }}</p>
                    <div class="user_buttons">
                        <a href="{% url 'personal_account:edit' user.pk %}" class="btn btn-primary">Изменить данные
                            профиля</a>
                        <a href="{% url 'personal_account:list_article' %}" class="btn btn-primary">Список ваших
                            статей</a>
                        <a href="{% url 'personal_account:create_article' %}" class="btn btn-primary">Создать
                            статью</a>
                        <a href="{% url 'personal_account:password_change' %}" class="btn btn-primary">Изменить
                            пароль</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}