{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
    <body>
    <section class="search">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <aside class="aside">
                        <h2 class="aside-title"></h2>
                        <div class="aside-body">

                            <form method="get">
                                <div class="form-group">
                                    {{ myFilter.form.as_p }}
                                    <button class="btn btn-primary" type="submit">
                                        Filter
                                    </button>
                                </div>
                            </form>

                        </div>
                    </aside>
                </div>
                <div class="col-md-9">
                    <div class="nav-tabs-group">
                        <ul class="nav-tabs-list">
                            <li {% if request.resolver_match.url_name == 'search_results' %} class="active"{% endif %}><a href="#">All</a></li>
                            <li><a href="#">Latest</a></li>
                            <li {% if 'popular' in request.resolver_match.route %} class="active"{% endif %}><a href="{% url 'search:popular' %}">Popular</a></li>
                            <li><a href="#">Trending</a></li>
                            <li><a href="#">Videos</a></li>
                        </ul>
                        <div class="nav-tabs-right">
                            <select class="form-control">
                                <option>Limit</option>
                                <option>10</option>
                                <option>20</option>
                                <option>50</option>
                                <option>100</option>
                            </select>
                        </div>
                    </div>
                    <div class="search-result">
                        Search results for keyword "{{ search_data }}" found in {{ count }} posts.
                    </div>
                    <div class="row">
                        {% for article in articles %}
                            <article class="col-md-12 article-list">
                                <div class="inner">
                                    <figure>
                                        <img src='/media/{{ article.image }}'>
                                    </figure>
                                    <div class="details">
                                        <div class="detail">
                                            <div class="category">
                                                <a href="#">{{ article.tag }}</a>
                                            </div>
                                            <time>{{ article.created_at }}</time>
                                        </div>
                                        <h1><a href={% url 'mainapp:article' article.pk %}>{{ article.title }}</a></h1>
                                        </h1>
                                        <p>
                                            {{ article.short_desc }}
                                        </p>
                                        <footer>
                                           {% include 'rating/includes/inc_likes.html' %}
                                            <a class="btn btn-primary more" href={% url 'mainapp:article' article.pk %}>
                                                <div>More</div>
                                                <div><i class="ion-ios-arrow-thin-right"></i></div>
                                            </a>
                                            {% if user.is_authenticated %}
                                                <ul>
                                                    <a class="btn btn-primary more"
                                                       href="{% url 'personal_account:edit_article' article.pk %}">
                                                        <div>Изменить</div>
                                                        <div><i class="ion-ios-arrow-thin-right"></i></div>
                                                    </a>
                                                </ul>
                                                <ul>
                                                    <a class="btn btn-primary more"
                                                       href="{% url 'personal_account:delete_article' article.pk %}">
                                                        <div>Удалить</div>
                                                        <div><i class="ion-ios-arrow-thin-right"></i></div>
                                                    </a>
                                                </ul>
                                            {% endif %}
                                        </footer>
                                    </div>
                                </div>
                            </article>
                        {% endfor %}
                        {% if is_paginated %}
                            <div class="col-md-12 text-center">
                                <ul class="pagination">
                                    {% if page_obj.has_previous %}
                                        <li class="prev"><a
                                                href="?q={{ search_data }}&page={{ page_obj.previous_page_number }}"><i
                                                class="ion-ios-arrow-left"></i></a></li>
                                    {% endif %}
                                    {% for page in page_obj.paginator %}
                                        <li class="active"><a
                                                href="?q={{ search_data }}&page={{ page.number }}">{{ page.number }}</a>
                                        </li>
                                    {% endfor %}
                                    {% if page_obj.has_next %}
                                        <li class="next"><a
                                                href="?q={{ search_data }}&page={{ page_obj.next_page_number }}"><i
                                                class="ion-ios-arrow-right"></i></a></li>
                                    {% endif %}
                                </ul>
                                <div class="pagination-help-text">
                                    Showing {{ page_obj.paginator.num_pages }} results of {{ count }} &mdash;
                                    Page {{ page_obj.number }}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- JS -->
    <script src="js/jquery.js"></script>
    <script src="js/jquery.migrate.js"></script>
    <script src="scripts/bootstrap/bootstrap.min.js"></script>
    <script>var $target_end = $(".best-of-the-week");</script>
    <script src="scripts/jquery-number/jquery.number.min.js"></script>
    <script src="scripts/owlcarousel/dist/owl.carousel.min.js"></script>
    <script src="scripts/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <script src="scripts/easescroll/jquery.easeScroll.js"></script>
    <script src="scripts/sweetalert/dist/sweetalert.min.js"></script>
    <script src="scripts/icheck/icheck.min.js"></script>
    <script src="scripts/toast/jquery.toast.min.js"></script>
    <script src="js/demo.js"></script>
    <script>$("input").iCheck({
        checkboxClass: 'icheckbox_square-red',
        radioClass: 'iradio_square-red',
        cursor: true
    });</script>
    <script src="js/e-magz.js"></script>
{% endblock %}