{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
    <section class="home">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12 col-xs-12">
                    <div class="owl-carousel owl-theme slide" id="featured">

                        <div class="item">
                            {% for article in articles %}
                                <article class="featured">
                                    <div class="overlay"></div>
                                    <figure>
                                        <img src="/media/{{ article.image }} " alt="Sample Article">
                                    </figure>
                                    <div class="details">
                                        <div class="category"><a href="{% url 'mainapp:category_page' article.category.pk 1 %}">{{ article.category }}</a></div>
                                        <h1 id="article-title"><a
                                                href="{% url 'mainapp:article' article.pk %}">{{ article.title }}</a>
                                        </h1>
                                        <div class="time">{{ article.created_at|date:"d E Y" }}</div>
                                    </div>
                                </article>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="banner">
                        <a href="#">
                            <img src="{% static 'images/ads.png' %}" alt="Sample Article">
                        </a>
                    </div>
                    <div class="line transparent little"></div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 trending-tags">
                            <h1 class="title-col">Популярные теги</h1>
                            <div class="body-col">
                                <ol class="tags-list">
                                    {% for tag in tags %}
                                        <li><a href="#">{{ tag.title }}</a></li>
                                    {% endfor %}
                                </ol>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <h1 class="title-col">
                                Последние новости
                                <div class="carousel-nav" id="hot-news-nav">
                                    <div class="prev">
                                        <i class="ion-ios-arrow-left"></i>
                                    </div>
                                    <div class="next">
                                        <i class="ion-ios-arrow-right"></i>
                                    </div>
                                </div>
                            </h1>
                            <div class="body-col vertical-slider" data-max="4" data-nav="#hot-news-nav"
                                 data-item="article">
                                {% for new in news %}
                                    <article class="article-mini">
                                        <div class="inner">
                                            <figure>
                                                <a href="{% url 'mainapp:article' new.pk %}">
                                                    <img src="/media/{{ new.image }}" alt="Sample Article">
                                                </a>
                                            </figure>
                                            <div class="padding">
                                                <h1 id="article-title"><a
                                                        href="{% url 'mainapp:article' new.pk %}">{{ new.title }}</a>
                                                </h1>
                                                <div class="detail">
                                                    <div class="category"><a href="{% url 'mainapp:category_page' new.category.pk 1 %}">{{ new.category }}</a>
                                                    </div>
                                                    <div class="time">{{ new.created_at|date:'d E Y' }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="line top">
                        <div>Лучшее за неделю</div>
                    </div>
                    <div class="row">
                        {% for item in best_of_week %}
                            <article class="col-md-12 article-list">
                                <div class="inner">
                                    <figure>
                                        <a href="{% url 'mainapp:article' item.pk %}">
                                            <img src="/media/{{ item.image }}" alt="Sample Article">
                                        </a>
                                    </figure>
                                    <div class="details">
                                        <div class="detail">
                                            <div class="category">
                                                <a href="{% url 'mainapp:category_page' item.category.pk 1 %}">{{ item.category }}</a>
                                            </div>
                                            <div class="time">{{ item.created_at|date:'d E Y' }}</div>
                                        </div>
                                        <h1><a href="{% url 'mainapp:article' item.pk %}">{{ item.title }}</a></h1>
                                        <p>{{ item.short_desc }}</p>
                                        <footer>
                                            <a href="#" class="love"><i class="ion-android-favorite-outline"></i>
                                                <div>{{ item.like }}</div>
                                            </a>
                                            <a class="btn btn-primary more" href="{% url 'mainapp:article' item.pk %}">
                                                <div>Далее</div>
                                                <div><i class="ion-ios-arrow-thin-right"></i></div>
                                            </a>
                                        </footer>
                                    </div>
                                </div>
                            </article>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-xs-6 col-md-4 sidebar" id="sidebar">
                    <div class="sidebar-title for-tablet">Sidebar</div>

                    <aside>
                        <h1 class="aside-title">Читают сейчас <a href="{% url 'mainapp:category_page' 0 1 %}" class="all">Все <i
                                class="ion-ios-arrow-right"></i></a>
                        </h1>
                        <div class="aside-body">
                            {% for article in read_now %}
                                <article class="article-mini">
                                    <div class="inner">
                                        <figure>
                                            <a href="{% url 'mainapp:article' article.pk %}">
                                                <img src="/media/{{ article.image }}" alt="Sample Article">
                                            </a>
                                        </figure>
                                        <div class="padding">
                                            <h1 id="article-title"><a
                                                    href="{% url 'mainapp:article' article.pk %}">{{ article.title }}</a>
                                            </h1>
                                        </div>
                                    </div>
                                </article>
                            {% endfor %}

                        </div>
                    </aside>
                    <aside>
                        <div class="aside-body">
                            <form class="newsletter">
                                <div class="icon">
                                    <i class="ion-ios-email-outline"></i>
                                    <h1>Newsletter</h1>
                                </div>
                                <div class="input-group">
                                    <input type="email" class="form-control email" placeholder="Your mail">
                                    <div class="input-group-btn">
                                        <button class="btn btn-primary"><i class="ion-paper-airplane"></i></button>
                                    </div>
                                </div>
                                <p>By subscribing you will receive new articles in your email.</p>
                            </form>
                        </div>
                    </aside>
                    <aside>
                        <h1 class="aside-title">Лучшие Блоги <a href="#" class="all">Все <i
                                class="ion-ios-arrow-right"></i></a></h1>
                        <div class="aside-body">
                            {% for author in best_authors %}
                            <article class="article-mini">
                                <div class="">
                                    <div class="d-flex flex-row justify-content-around">
                                        <figure class="bloger"><img class="photo-bloger"
                                                                    src="/media/{{ author.foto }}}">
                                        </figure>
                                        <h5 class="name"><a id="bloger-name" href="#">
                                            {% if author.get_full_name %}
                                                {{ author.get_full_name }}
                                            {% else %}
                                                Пользователь
                                            {% endif %}</a></h5>
                                        <a href="#" class="love"><i class="ion-android-favorite-outline"></i>
                                            <div>{{ author.total_likes }}</div>
                                        </a>
                                    </div>
                                </div>
                            </article>
                            {% endfor %}
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </section>
{% endblock %}